@font-face {
	font-family: "dinProLight";
	font-display: swap;
	src: url("../fonts/dinpro_light.woff2") format("woff2"),
		url("../fonts/dinpro_light.woff") format("woff"),
		url("../fonts/dinpro.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "dinProRegular";
	font-display: swap;
	src: url("../fonts/dinpro.woff2") format("woff2"),
		url("../fonts/dinpro.woff") format("woff"),
		url("../fonts/dinpro.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "dinProMedium";
	font-display: swap;
	src: url("../fonts/dinpro_medium.woff2") format("woff2"),
		url("../fonts/dinpro_medium.woff") format("woff"),
		url("../fonts/dinpro_medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "dinProBold";
	font-display: swap;
	src: url("../fonts/dinpro_bold.woff2") format("woff2"),
		url("../fonts/dinpro_bold.woff") format("woff"),
		url("../fonts/dinpro_bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 2.777vw;
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 0.520vw;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--ff-dinPro400);
	font-size: 1.6rem;
	line-height: 100%;
	font-style: normal;
	font-weight: normal;
}

body._overflow {
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	padding: 0;
	margin: 0 0 1rem;
	font-family: var(--ff-dinPro400);
	font-size: 1.6rem;
	line-height: 100%;
}

.default-content p {
	font-size: 1.6rem;
	line-height: 140%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	font-size: 1.8rem;
	line-height: 100%;
	margin-bottom: 2rem;
}

.default-content ul {
	padding-left: 3rem;
}

.default-content li {
	font-size: 1.6rem;
	line-height: 100%;
	margin-bottom: 2rem;
	position: relative;
}

.default-content ul li::before {
	content: '\2014';
	position: absolute;
	top: 0;
	left: -2rem;
}

input {
	display: block;
	outline: none;
	border: 0;
	font-size: max(16px, 1.8rem);
	background-color: transparent;
}

textarea {
	outline: none;
	border: 0;
	font-size: max(16px, 1.8rem);
}

button {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	line-height: normal;
}

a {
	display: inline-block;
	text-decoration: none;
	font-family: var(--ff-dinPro400);
	font-size: 1.6rem;
	line-height: 100%;
	color: var(--red);
}

h1 {
	margin: 0;
	padding: 0;
}

.default-content h1 {
	font-size: 8rem;
	line-height: 100%;
	margin: 4rem 0 4rem;
}

h2 {
	margin: 0 0 1rem;
	padding: 0;
	font-family: var(--ff-dinPro700);
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 100%;
	color: var(--grey2);
}

.default-content h2 {
	font-size: 8rem;
	line-height: 100%;
	margin: 3rem 0 2rem;
}

h3 {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none !important;
}

:root {
	--black: #111111;
	--black2: #000000;
	--red: #F46D40;
	--orange: #FF9846;
	--grey: #F2F2F2;
	--grey2: #A4ACAD;
	--ff-dinPro300: 'dinProLight', sans-serif;
	--ff-dinPro400: 'dinProRegular', sans-serif;
	--ff-dinPro500: 'dinProMedium', sans-serif;
	--ff-dinPro700: 'dinProBold', sans-serif;
}

@media screen and (min-width: 1024px) {}

/* ------------------ main-settings --------------------------- */

.container {
	margin: 0 1.5rem;
}

.grid {
	display: grid;
}

.col-start-1 {
	grid-column-start: 1;
}

.col-start-2 {
	grid-column-start: 2;
}

.col-start-3 {
	grid-column-start: 3;
}

.col-start-4 {
	grid-column-start: 4;
}

.col-start-5 {
	grid-column-start: 5;
}

.col-start-6 {
	grid-column-start: 6;
}

.col-start-7 {
	grid-column-start: 7;
}

.col-start-8 {
	grid-column-start: 8;
}

.col-start-9 {
	grid-column-start: 9;
}

.col-end-2 {
	grid-column-end: 2;
}

.col-end-3 {
	grid-column-end: 3;
}

.col-end-4 {
	grid-column-end: 4;
}

.col-end-5 {
	grid-column-end: 5;
}

.col-end-6 {
	grid-column-end: 6;
}

.col-end-7 {
	grid-column-end: 7;
}

.col-end-8 {
	grid-column-end: 8;
}

.col-end-9 {
	grid-column-end: 9;
}

@media screen and (min-width: 1024px) {
	.container {
		margin: 0 11rem;
	}
}

/* ------------------ main-settings END ----------------------- */

/* -------------------------------- UI -------------------------------------- */
.main {
	padding-top: 7.7rem;
	background-color: var(--grey);
}

.invert-color {
	mix-blend-mode: difference;
}

.text p {}

.btn a,
.btn span {
	display: inline-flex;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 100%;
	color: var(--grey);
	padding: 0 4.2rem;
	background: #F46D40;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
	height: 4rem;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.anim-btn {}

.anim-text-border {
	border-bottom: 1px solid #000;
	transition: border 150ms ease-out;
	-webkit-transition: border 150ms ease-out;
	-moz-transition: border 150ms ease-out;
	-ms-transition: border 150ms ease-out;
	-o-transition: border 150ms ease-out;
}

.anim-text-border:hover {
	border-bottom: 1px solid #fff;
}

@media screen and (min-width: 1024px) {
	.main {
		padding-top: 3rem;
	}
}

/* ------------------- link -------------------------- */

.link {}

.anim-link {}

.plus-link {}

.arrow-link {
	position: relative;
}

.arrow-link::after {
	content: "";
	display: block;
	width: 1.2rem;
	height: 0.8rem;
	background-image: url(../img/icons/arrowdown.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* ------------------- link End -------------------------- */

/* ------------------- icons ----------------------------- */
.arrow-icon {
	position: relative;
}

.arrow-icon::after {
	content: "";
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	background-image: url(../img/icons/arrow-down.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* ------------------- icons END ----------------------------- */

/* ------------------- price ------------------------ */

.rub {
	position: relative;
}

.rub::after {
	content: "₽";
}

.old-price {
	position: relative;
	display: inline-block;
	text-decoration: line-through;
}

.new-price {}

/* ------------------- price END ------------------------ */

/* ----------------------------- burger-menu -------------------------- */
.burger-menu {
	width: 6rem;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burger-menu__box {
	width: 4rem;
	height: 4rem;
	position: relative;
}

.burger-menu__line {
	background-color: var(--black);
	width: 4rem;
	height: 0.2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.burger-menu__line.line-1 {
	transform: translateY(calc(-50% - 1rem));
	-webkit-transform: translateY(calc(-50% - 1rem));
	-moz-transform: translateY(calc(-50% - 1rem));
	-ms-transform: translateY(calc(-50% - 1rem));
	-o-transform: translateY(calc(-50% - 1rem));
}

.burger-menu__line.line-3 {
	transform: translateY(calc(-50% + 1rem));
	-webkit-transform: translateY(calc(-50% + 1rem));
	-moz-transform: translateY(calc(-50% + 1rem));
	-ms-transform: translateY(calc(-50% + 1rem));
	-o-transform: translateY(calc(-50% + 1rem));
}

.burger-menu._active .burger-menu__line.line-1 {
	animation: burger-first-line 500ms linear forwards;
	-webkit-animation: burger-first-line 500ms linear forwards;
}

@keyframes burger-first-line {
	0% {
		transform: translateY(calc(-50% - 1rem));
		-webkit-transform: translateY(calc(-50% - 1rem));
		-moz-transform: translateY(calc(-50% - 1rem));
		-ms-transform: translateY(calc(-50% - 1rem));
		-o-transform: translateY(calc(-50% - 1rem));
	}

	30% {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}

	40% {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}

	100% {
		transform: translateY(-50%) rotate(45deg);
		-webkit-transform: translateY(-50%) rotate(45deg);
		-moz-transform: translateY(-50%) rotate(45deg);
		-ms-transform: translateY(-50%) rotate(45deg);
		-o-transform: translateY(-50%) rotate(45deg);
	}
}

.burger-menu .burger-menu__line.line-1 {
	animation: burger-first-line-back 500ms linear forwards;
	-webkit-animation: burger-first-line-back 500ms linear forwards;
}

@keyframes burger-first-line-back {
	0% {
		transform: translateY(-50%) rotate(45deg);
		-webkit-transform: translateY(-50%) rotate(45deg);
		-moz-transform: translateY(-50%) rotate(45deg);
		-ms-transform: translateY(-50%) rotate(45deg);
		-o-transform: translateY(-50%) rotate(45deg);
	}

	30% {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}

	40% {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}

	100% {
		transform: translateY(calc(-50% - 1rem));
		-webkit-transform: translateY(calc(-50% - 1rem));
		-moz-transform: translateY(calc(-50% - 1rem));
		-ms-transform: translateY(calc(-50% - 1rem));
		-o-transform: translateY(calc(-50% - 1rem));
	}
}

.burger-menu._active .burger-menu__line.line-2 {
	animation: burger-middle-line 500ms linear forwards;
	-webkit-animation: burger-middle-line 500ms linear forwards;
}

@keyframes burger-middle-line {
	0% {
		opacity: 1;
	}

	30% {
		opacity: 1;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.burger-menu .burger-menu__line.line-2 {
	animation: burger-middle-line-back 500ms linear forwards;
	-webkit-animation: burger-middle-line-back 500ms linear forwards;
}

@keyframes burger-middle-line-back {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

.burger-menu._active .burger-menu__line.line-3 {
	animation: burger-last-line 500ms linear forwards;
	-webkit-animation: burger-last-line 500ms linear forwards;
}

@keyframes burger-last-line {
	0% {
		transform: translateY(calc(-50% + 1rem));
		-webkit-transform: translateY(calc(-50% + 1rem));
		-moz-transform: translateY(calc(-50% + 1rem));
		-ms-transform: translateY(calc(-50% + 1rem));
		-o-transform: translateY(calc(-50% + 1rem));
	}

	30% {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}

	40% {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}

	100% {
		transform: translateY(-50%) rotate(-45deg);
		-webkit-transform: translateY(-50%) rotate(-45deg);
		-moz-transform: translateY(-50%) rotate(-45deg);
		-ms-transform: translateY(-50%) rotate(-45deg);
		-o-transform: translateY(-50%) rotate(-45deg);
	}
}

.burger-menu .burger-menu__line.line-3 {
	animation: burger-last-line-back 500ms linear forwards;
	-webkit-animation: burger-last-line-back 500ms linear forwards;
}

@keyframes burger-last-line-back {
	0% {
		transform: translateY(-50%) rotate(-45deg);
		-webkit-transform: translateY(-50%) rotate(-45deg);
		-moz-transform: translateY(-50%) rotate(-45deg);
		-ms-transform: translateY(-50%) rotate(-45deg);
		-o-transform: translateY(-50%) rotate(-45deg);
	}

	30% {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}

	40% {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}

	100% {
		transform: translateY(calc(-50% + 1rem));
		-webkit-transform: translateY(calc(-50% + 1rem));
		-moz-transform: translateY(calc(-50% + 1rem));
		-ms-transform: translateY(calc(-50% + 1rem));
		-o-transform: translateY(calc(-50% + 1rem));
	}
}

/* ----------------------------- burger-menu -------------------------- */

/* -------------------------- form --------------------------- */

.form {}

.form-row {}

.form-line {
	position: relative;
}

.form-input {
	font-size: max(16px, 1.8rem);
}

.form-textarea {
	font-size: max(16px, 1.8rem);
}

.form-select {}

.form-label {}

.form-btn {}

/* -------------------------- form END --------------------------- */

/* -------------------------------- UI END -------------------------------------- */

/* ------------------------- MAIN-PAGE ----------------------- */

@media screen and (min-width: 1024px) {
	.page__container {
		display: grid;
		grid-template-columns: 18rem 1fr 29rem;
		padding-right: 10rem;
		padding-left: 12rem;
	}

	.page-body {
		margin-left: 3rem;
		margin-right: 4rem;
		background-color: var(--grey);
	}

	.main-page {
		max-width: 117rem;
	}
}

/* ----------------------- header --------------------------------- */

.header {
	background: #FFFFFF;
	border-bottom: 0.5px solid var(--grey2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.header__container {
	height: 6.2rem;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header__logo img {
	width: 4.7rem;
}

.header__city {
	display: none;
}

.header__our-contacts {
	display: flex;
}

.header__nav {
	display: none;
}

.our-phones {
	margin-right: 1.3rem;
}

.our-phones__label {
	font-family: var(--ff-dinPro500);
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 100%;
	color: var(--black);
	text-align: center;
}

.our-phones__items {
	text-align: center;
}

.our-phones__item a {
	font-family: var(--ff-dinPro500);
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 100%;
	color: var(--orange);
}

.work-time {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.work-time__icon {
	width: 1.5rem;
	height: 1.5rem;
	flex-shrink: 0;
}

.work-time__icon svg {
	width: 1.5rem;
	height: 1.5rem;
}

.work-time__text span {
	display: block;
	font-family: var(--ff-dinPro500);
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 100%;
	text-align: center;
	color: var(--grey2);
}

.search-block__icon {
	cursor: pointer;
}

.search-block__icon svg {
	width: 3rem;
	height: 3rem;
}

@media screen and (min-width: 1024px) {
	.header {
		background: var(--grey);
		position: relative;
	}

	.header__container {
		height: 9.5rem;
		padding-left: 1.8rem;
		padding-right: 4rem;
		margin: 0;
	}

	.header__content {
		justify-content: unset;
	}

	.header__logo {
		display: none;
	}

	.header__our-contacts {
		flex-direction: column;
		justify-content: center;
		padding-right: 2rem;
		border-right: 0.5px solid var(--grey2);
		height: 100%;
	}

	.our-phones {
		/* height: 100%; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 0;
		margin-bottom: 0.8rem;
	}

	.our-phones__label {
		font-size: 1.8rem;
		line-height: 100%;
	}

	.our-phones__item a {
		font-size: 1.8rem;
		line-height: 100%;
	}

	.work-time {
		flex-direction: row;
		align-items: center;
	}

	.work-time__icon {
		margin-right: 0.5rem;
	}

	.work-time__text span {
		display: inline;
		text-align: left;
		font-size: 1.4rem;
		line-height: 100%;
	}

	.header__city {
		display: block;
		margin-left: 1rem;
		flex-grow: 1;
	}

	.header__city-label {
		font-family: var(--ff-dinPro300);
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 100%;
		color: var(--grey2);
		margin-bottom: .4rem;
	}

	.header__city-selected {
		font-family: var(--ff-dinPro400);
		font-size: 1.8rem;
		line-height: 100%;
		color: #000;
	}

	.header__search {
		margin-left: 6.9rem;
	}

	.header__nav {
		display: block;
	}

	.header__nav ul {
		display: flex;
	}

	.header__nav li {
		margin-bottom: 0;
	}

	.header__nav li:not(:last-child) {
		margin-right: 1rem;
	}

	.header__nav li a {
		font-family: var(--ff-dinPro400);
		font-size: 1.8rem;
		line-height: 100%;
		color: var(--black);
		transition: color 150ms ease-out;
		-webkit-transition: color 150ms ease-out;
		-moz-transition: color 150ms ease-out;
		-ms-transition: color 150ms ease-out;
		-o-transition: color 150ms ease-out;
	}

	.header__nav li a:hover {
		color: var(--orange);
	}
}

/* ----------------------- header END --------------------------------- */

.sidebar {
	display: none;
}

.basket-block__label {}

.basket-block__emtpy {}

.basket-block__list {}

.basket-block__item {
	display: grid;
	grid-template-columns: 9rem 1fr;
	grid-column-gap: 1.4rem;
	padding: 1.5rem 3.3rem 1.5rem 0;
	background-color: #fff;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
}

.basket-block__item-img img {
	display: block;
}

.basket-block__item-column {}

.basket-block__item-label {
	font-family: var(--ff-dinPro400);
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 100%;
	color: var(--black2);
	margin-bottom: 1.4rem;
}

.basket-block__item-row {
	display: grid;
	grid-template-columns: 9rem 1fr;
	align-items: center;
	grid-column-gap: .7rem;
}

.basket-block__quantity-icon.basket-block__quantity-icon {
	width: 2.5rem;
	height: 2.5rem;
}

.basket-block__quantity-icon.basket-block__quantity-icon.minus svg {
	width: 1.3rem;
}

.basket-block__quantity-icon.basket-block__quantity-icon.plus svg {
	width: 1.3rem;
	height: 1.3rem;
}

.basket-block__quantity-label.basket-block__quantity-label {
	font-size: 1.8rem;
	line-height: 100%;
	width: 2.6rem;
}

.basket-block__item-price {
	font-family: var(--ff-dinPro700);
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 100%;
	color: var(--black2);
	white-space: nowrap;
	text-align: right;
}



@media screen and (min-width: 1024px) {
	.sidebar {
		display: block;
	}

	.main-sidebar {}

	.main-sidebar__container {
		padding-top: 2.6rem;
	}

	.main-sidebar__logo {
		text-align: center;
		padding-bottom: 3rem;
		margin-bottom: 3.2rem;
		border-bottom: 0.5px solid var(--grey2);
	}


	.main-sidebar__logo img {
		max-width: 13.7rem;
	}

	.main-sidebar__nav li {
		margin-bottom: 3rem;
	}

	.main-sidebar__link {
		display: inline-flex;
		align-items: center;
		position: relative;
	}

	.main-sidebar__link-icon {
		width: 3rem;
		flex-shrink: 0;
		margin-right: 2rem;
	}

	.main-sidebar__link-icon svg {
		width: 3rem;
		height: 3rem;
	}

	.main-sidebar__link-icon.icon-1 svg {
		height: 2.8rem;
	}

	.main-sidebar__link-icon.icon-2 svg {
		width: 2.8rem;
		height: 2.9rem;
	}

	.main-sidebar__link-icon.icon-7 svg {
		width: 2.8rem;
		height: 2.8rem;
	}

	.main-sidebar__link-icon.icon-8 svg {
		width: 1.6rem;
	}

	.main-sidebar__link span {
		font-family: var(--ff-dinPro400);
		font-size: 2.4rem;
		line-height: 100%;
		color: #000000;
		transition: color 150ms ease-out;
		-webkit-transition: color 150ms ease-out;
		-moz-transition: color 150ms ease-out;
		-ms-transition: color 150ms ease-out;
		-o-transition: color 150ms ease-out;
	}

	.main-sidebar__link:hover span {
		color: var(--orange);
	}

	.main-sidebar__link-label {
		width: 5rem;
		height: 1.5rem;
		background: #EB5757;
		border-radius: 1rem;
		-webkit-border-radius: 1rem;
		-moz-border-radius: 1rem;
		-ms-border-radius: 1rem;
		-o-border-radius: 1rem;
		font-family: var(--ff-dinPro400);
		font-size: 1.1rem;
		line-height: 100%;
		color: #FFFFFF;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: -3.5rem;
		top: -0.8rem;
	}

	.right-sidebar {
		margin-top: 5.5rem;
	}

	.right-sidebar__container {}

	.basket-block {
		background: var(--grey);
		border-radius: .5rem;
		-webkit-border-radius: .5rem;
		-moz-border-radius: .5rem;
		-ms-border-radius: .5rem;
		-o-border-radius: .5rem;
		overflow: hidden;
		position: relative;
		z-index: 4;
		margin-bottom: 2rem;
	}

	.basket-block._active .basket-block__emtpy {
		display: none;
	}

	.basket-block__container {
		padding: 1.2rem 0 0;
		position: relative;
		z-index: -4;
	}

	.basket-block__label {
		font-family: var(--ff-dinPro500);
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 100%;
		color: var(--black2);
		text-align: center;
		margin-bottom: 1rem;
	}

	.basket-block__emtpy {
		font-family: var(--ff-dinPro400);
		font-size: 1.8rem;
		line-height: 100%;
		color: var(--grey2);
		text-align: center;
		margin-bottom: 2.6rem;
	}

	.basket-block__delivery {
		font-family: var(--ff-dinPro400);
		font-size: 1.4rem;
		line-height: 100%;
		color: var(--grey);
		background-color: var(--orange);
		text-align: center;
		padding: 1.2rem 0;
	}

	.basket-block._active .basket-block__delivery {
		display: none;
	}

	.location-block__container {
		background: var(--grey);
		border-radius: .5rem;
		-webkit-border-radius: .5rem;
		-moz-border-radius: .5rem;
		-ms-border-radius: .5rem;
		-o-border-radius: .5rem;
	}

	.location-block__map img {
		display: block;
		width: 100%;
		height: auto;
	}

	.location-block__box {
		position: relative;
		padding: 3.8rem 1rem 0.7rem;
		text-align: center;
	}

	.location-block__icon {
		background: var(--orange);
		position: absolute;
		top: 0;
		left: 50%;
		width: 6rem;
		height: 6rem;
		transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.location-block__icon svg {
		width: 3.8rem;
		height: 3.8rem;
	}

	.location-block__label {
		font-family: var(--ff-dinPro500);
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 100%;
		color: #000000;
		margin-bottom: 1rem;
	}

	.location-block__info {
		font-family: var(--ff-dinPro400);
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 100%;
		color: var(--grey2);
	}
}

/* ------------------------- our-products --------------------------- */

.our-products {
	margin-bottom: 2rem;
}

.our-products__categories {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.our-products__categories.desktop {
	display: none;
}

.products-category {
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

.products-category__body {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -5;
}

.products-category__info {
	position: absolute;
	left: 0;
	right: 0;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.products-category__info.top {
	top: 0;
}

.products-category__info.bottom {
	bottom: 0;
}

.products-category__info.top .products-category__label {
	font-family: var(--ff-dinPro500);
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 100%;
	color: #fff;
}

.products-category__info.bottom .products-category__label {
	font-family: var(--ff-dinPro500);
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 100%;
	color: #FFFFFF;
}

.products-category__date {
	background: #EB5757;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	height: 1.5rem;
	width: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.products-category__date span {
	display: block;
	padding-top: 0.1rem;
	font-family: var(--ff-dinPro400);
	font-size: 1.1rem;
	line-height: 100%;
	text-transform: uppercase;
	color: #FFFFFF;
}

.products-category__img {
	height: 100%;
}

.products-category__img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.products-category__date {}

.bottom {}

@media screen and (min-width: 1024px) {
	.our-products {
		margin-bottom: 5rem;
	}

	.our-products__categories.mobile {
		display: none;
	}

	.our-products__categories.desktop {
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 3rem;
	}

	.our-products__categories__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 3rem;
	}

	.products-category {
		height: 20rem;
	}

	.our-products__categories__column {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2.2rem;
	}
}

/* ------------------------- our-products END --------------------------- */

/* ------------------------- main-discount ---------------------- */
.main-discount {
	display: none;
}

@media screen and (min-width: 1024px) {
	.main-discount {
		display: block;
	}

	.main-discount__container {
		overflow: hidden;
		margin: 0 11rem 5rem;
	}

	.main-discount__slider {
		width: 100%;
		position: relative;
	}

	.main-discount__slide-body {
		display: block;
	}

	.main-discount__slide-img img {
		width: 100%;
		height: auto;
		display: block;
	}

	.main-discount__pagintaion.swiper-pagination {
		position: relative;
		z-index: 2;
		bottom: 0;
		margin-top: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.main-discount__pagintaion.swiper-pagination .swiper-pagination-bullet {
		margin: 0 .5rem;
		width: .8rem;
		height: .8rem;
		background-color: var(--grey2);
		opacity: 1;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.main-discount__pagintaion.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
		width: 1rem;
		height: 1rem;
		background-color: #FF9846;
	}
}

/* ------------------------- main-discount END ---------------------- */

.product-card {
	background: #FFFFFF;
}

.actual-products {
	display: none;
	margin-bottom: 5rem;
	overflow: hidden;
}

.actual-products__label {
	font-family: var(--ff-dinPro500);
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 100%;
	color: var(--grey2);
	border-bottom: 1px solid var(--grey2);
	padding-bottom: 0.4rem;
	margin-right: 3rem;
	cursor: pointer;
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

.actual-products__label:hover {
	border-bottom: 1px solid transparent;
}

.actual-products__label._active {
	color: #000000;
	border-bottom: 1px solid transparent;
}

.actual-products__body {}

.actual-products__slider {
	position: relative;
	display: none;
}

.actual-products__slider._active {
	display: block;
}

.actual-products__slider-wrapper {
	display: block;
}

.product-card {
	display: grid;
	grid-template-columns: 10rem 1fr;
	margin-bottom: 1rem;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.product-card__info {
	display: block;
	padding: 1.8rem 1rem 1rem 0;
	user-select: none;
}

.product-card__label {
	font-family: var(--ff-dinPro500);
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 100%;
	color: var(--black2);
	margin-bottom: .5rem;
	user-select: none;
}

.product-card__ingredients {
	font-family: var(--ff-dinPro400);
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 100%;
	color: var(--grey2);
}

.product-card__img {
	padding: 1.8rem 1.5rem 1.8rem 1.8rem;
	user-select: none;
}

.product-card__row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	grid-column-gap: 1rem;
	padding-right: 1.5rem;
	padding-bottom: 1.8rem;
}

.product-card__price {
	font-family: var(--ff-dinPro700);
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 100%;
	color: var(--black2);
	white-space: nowrap;
	user-select: none;
}

.product-card__btns {
	position: relative;
}


.product-card__btn span {
	padding: 0;
	width: 100%;
	height: 2.6rem;
	font-size: 1.8rem;
	line-height: 100%;
	user-select: none;
}

.quantity-number {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.quantity-number__icon {
	width: 2.5rem;
	height: 2.5rem;
	flex-grow: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	cursor: pointer;
}

.quantity-number__icon.minus svg {
	width: 1.5rem;
	height: 0.2rem;
}

.quantity-number__icon.plus {
	background-color: var(--red);
}

.quantity-number__icon.plus svg {
	width: 1.5rem;
	height: 1.5rem;
}

.quantity-number__label {
	width: 4rem;
	font-family: var(--ff-dinPro700);
	font-weight: 700;
	font-size: 2rem;
	line-height: 100%;
	color: var(--black2);
	margin: 0 0.5rem;
	flex-grow: 0;
	pointer-events: none;
	text-align: center;
	user-select: none;
}

.product-card__btns {
	position: relative;
}

.product-card__quantity {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
}

.product-card__btns._active .product-card__btn {
	visibility: hidden;
	opacity: 0;
}

.product-card__btns._active .quantity-number {
	visibility: visible;
	opacity: 1;
}


@media screen and (min-width: 1024px) {
	.actual-products {
		display: block;
	}

	.actual-products__labels {
		display: flex;
		margin-bottom: 3rem;
	}

	.actual-products__slider-wrapper {
		display: flex;
	}

	.product-card {
		max-width: 28.9rem;
		width: 100%;
		display: block;
		padding: 0.1rem 0 .6rem;
		margin-bottom: 0;
		margin-right: 4rem;
	}

	.product-card:last-child {
		margin-right: 0;
	}

	.product-card__img {
		padding: 0 1.7rem 1.5rem;
		/* margin-bottom: 1.5rem; */
	}

	.product-card__img img {
		display: block;
	}

	.product-card__info {
		padding: 0 1.7rem 2rem;
	}

	.product-card__label {
		font-size: 2.4rem;
		line-height: 100%;
		margin-bottom: 1.5rem;
		max-width: 23.2rem;
		min-height: 6rem;
		display: flex;
		align-items: center;
	}

	.product-card__ingredients {
		font-size: 1.8rem;
		line-height: 100%;
	}

	.product-card__row {
		padding: 1.1rem .7rem 0 1.7rem;
		border-top: 0.5px solid var(--grey2);
		grid-column-gap: 1.2rem;
	}

	.slider-controls__arrow {
		position: absolute;
		z-index: 2;
		width: 6rem;
		height: 6rem;
		background: #111111;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		cursor: pointer;
		transition: all 150ms ease-out;
		-webkit-transition: all 150ms ease-out;
		-moz-transition: all 150ms ease-out;
		-ms-transition: all 150ms ease-out;
		-o-transition: all 150ms ease-out;
	}

	.product-card__btn span {
		font-size: 2.4rem;
		line-height: 100%;
		height: 4rem;
	}

	.product-card__price {
		font-size: 2.4rem;
		line-height: 100%;
	}

	.slider-controls__arrow.left {
		left: -11rem;
	}

	.slider-controls__arrow.right {
		right: -11rem;
	}

	.slider-controls__arrow svg {
		width: 1.3rem;
		height: 2.7rem;
	}

	.slider-controls__arrow.left svg {
		transform: translateX(-0.2rem);
		-webkit-transform: translateX(-0.2rem);
		-moz-transform: translateX(-0.2rem);
		-ms-transform: translateX(-0.2rem);
		-o-transform: translateX(-0.2rem);
	}

	.slider-controls__arrow.right svg {
		transform: translateX(0.2rem);
		-webkit-transform: translateX(0.2rem);
		-moz-transform: translateX(0.2rem);
		-ms-transform: translateX(0.2rem);
		-o-transform: translateX(0.2rem);
	}

	.swiper-button-disabled {
		opacity: 0;
	}

	.quantity-number__icon {
		width: 4rem;
		height: 4rem;
	}

	.quantity-number__icon.minus svg {
		width: 2rem;
	}

	.quantity-number__icon.plus svg {
		width: 2rem;
		height: 2rem;
	}

	.quantity-number__label {
		font-size: 3rem;
	}
}

/* ---------------------------- order-product -------------------- */
.order-product {}

.order-product__container {
	padding: 0 1.5rem;
	position: relative;
}

.order-product__body {
	height: 22.8rem;
	overflow: hidden;
	transition: height 400ms ease-out;
	-webkit-transition: height 400ms ease-out;
	-moz-transition: height 400ms ease-out;
	-ms-transition: height 400ms ease-out;
	-o-transition: height 400ms ease-out;
}

.order-product__body._active {
	margin-bottom: 1rem;
}

.order-product__body::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 2.4rem;
	left: 0;
	right: 0;
	height: 22.8rem;
	background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 100%);
	transition: all 150ms ease-out 0ms;
	-webkit-transition: all 150ms ease-out 0ms;
	-moz-transition: all 150ms ease-out 0ms;
	-ms-transition: all 150ms ease-out 0ms;
	-o-transition: all 150ms ease-out 0ms;
}

.order-product__body._active::after {
	opacity: 0;
	visibility: hidden;
}

.order-product__info p {
	font-family: var(--ff-dinPro400);
	font-size: 1.8rem;
	line-height: 100%;
	color: var(--grey2);
}

.order-product__info ul {
	list-style: unset;
	padding-left: 2.4rem;
}

.order-product__info li {
	font-family: var(--ff-dinPro400);
	font-size: 1.8rem;
	line-height: 100%;
	color: var(--grey2);
	margin-bottom: 1rem;
}

.order-product__more-info {
	display: flex;
	justify-content: center;
}

.order-product__more-info span {
	font-family: var(--ff-dinPro400);
	font-size: 2.4rem;
	line-height: 100%;
	color: #F46D40;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
}

.order-product__more-info span::after {
	content: "";
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background-image: url(../img/icons/arrow_down.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.5rem 0.7rem;
	margin-left: 1rem;
	transition: transform 150ms ease-out;
	-webkit-transition: transform 150ms ease-out;
	-moz-transition: transform 150ms ease-out;
	-ms-transition: transform 150ms ease-out;
	-o-transition: transform 150ms ease-out;
}

.order-product__more-info._active span::after {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

@media screen and (min-width: 1024px) {
	.order-product__container {
		padding: 0 11rem;
	}

	.order-product__body {
		margin-bottom: 4.2rem;
	}

	.order-product__body._active {
		margin-bottom: 4.2rem;
	}
}

/* ---------------------------- order-product END -------------------- */

/* ------------------- footer ---------------------- */
.footer {}

.footer__nav.desktop {
	display: none;
}

.footer__mob-nav {
	display: block;
}

.footer__first-row {
	background: var(--grey);
	padding: 2rem 1.5rem 3rem;
}

.footer__last-row {
	padding: 1.1rem 1.5rem;
}

.footer__link {}

.footer__socials {}

.socials-form {}

.socials-form__item.phone {
	display: none;
}

.socials-form__item__label {
	font-family: var(--ff-dinPro400);
	font-size: 1.8rem;
	line-height: 100%;
	color: var(--grey2);
	max-width: 21.2rem;
	margin: 0 auto 1rem;
	text-align: center;
}

.socials-form__item__list {
	display: grid;
	grid-template-columns: repeat(3, 5rem);
	grid-column-gap: 3rem;
	justify-content: center;
	margin-bottom: 3rem;
}

.socials-form__item__social {
	opacity: 0.25;
	transition: opacity 150ms ease-out;
	-webkit-transition: opacity 150ms ease-out;
	-moz-transition: opacity 150ms ease-out;
	-ms-transition: opacity 150ms ease-out;
	-o-transition: opacity 150ms ease-out;
}

.socials-form__item__social label {
	cursor: pointer;
}

.socials-form__item__social._active {
	opacity: 1;
}

.socials-form__item__social:hover {
	opacity: 1;
}

.socials-form__item__radioBtn {
	display: none;
}

.socials-form__item__radioBtn__icon svg {
	width: 5rem;
	height: 5rem;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts-phones__item {
	margin-bottom: .5rem;
}

.contacts-phones__item a {
	font-family: var(--ff-dinPro400);
	font-size: 1.8rem;
	line-height: 100%;
	color: var(--grey2);
}

.contacts-phones__item a span {
	border-bottom: 1px solid var(--grey2);
}

.footer__address {
	font-family: var(--ff-dinPro400);
	font-size: 1.8rem;
	line-height: 100%;
	color: var(--grey2);
}

.footer__mob-nav ul {
	display: flex;
	justify-content: center;
}

.footer__mob-nav li {
	margin-bottom: 0;
}

.footer__mob-nav .footer__mob-nav__item a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__mob-nav .footer__mob-nav__item:not(:last-child) {
	margin-right: 3.5rem;
}

.footer__mob-nav__icon {
	height: 3.4rem;
}

.footer__mob-nav__item.menu .footer__mob-nav__icon svg {
	width: 5rem;
	height: 3rem;
}

.footer__mob-nav__item.cart .footer__mob-nav__icon svg {
	width: 3.4rem;
	height: 3.4rem;
}

.footer__mob-nav__item.review .footer__mob-nav__icon svg {
	width: 3.2rem;
	height: 3.2rem;
}

@media screen and (min-width: 1024px) {
	.footer__first-row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 2.2rem 0 0;
		margin: 6rem 11rem 0;
		border-top: 0.5px solid var(--grey2);
	}

	.footer__column {
		padding-top: 1rem;
	}

	.footer__nav.desktop {
		display: block;
	}

	.footer__nav ul a {
		font-family: var(--ff-dinPro400);
		font-size: 1.8rem;
		line-height: 100%;
		color: var(--black2);
	}

	.footer__last-row {
		display: none;
	}

	.footer__socials {
		border-left: 0.5px solid var(--grey2);
		border-right: 0.5px solid var(--grey2);
		padding-bottom: 2rem;
	}

	.socials-form__input {
		font-family: var(--ff-dinPro500);
		font-size: 1.8rem;
		line-height: 100%;
		color: var(--black2);
	}

	.socials-form__input::placeholder {
		color: var(--grey2);
	}

	.socials-form {
		padding: 0 4rem 0;
	}

	.socials-form__item.phone {
		display: block;
		margin-bottom: 2rem;
	}

	.socials-form__label {
		font-family: var(--ff-dinPro500);
		font-size: 1.8rem;
		line-height: 100%;
		color: var(--black2);
		margin-bottom: 1rem;
	}

	.socials-form__item__label {
		margin: 0 0 1rem;
		text-align: left;
	}

	.socials-form__item__list {
		justify-content: unset;
	}

	.footer__contacts {
		align-items: unset;
		padding-left: 4rem;
	}
}


/* ------------------- footer END ---------------------- */

/* ------------------------- MAIN-PAGE END ----------------------- */

/* ------------------------- PRODUCTS-PAGE ----------------------- */
.products-page__row {
	margin-bottom: 1.5rem;
}

/* ------------------------- breadcrumbs-and-filters --------------------*/
.breadcrumbs-block {
	margin-bottom: 1.5rem;
}

.breadcrumbs-block__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.breadcrumbs-block__item-icon {
	margin-right: 2rem;
}

.breadcrumbs-block__item-icon svg {
	width: 2.7rem;
	height: 2.9rem;
}

.breadcrumbs-block__item span {
	font-family: var(--ff-dinPro400);
	font-size: 2.4rem;
	line-height: 100%;
	color: var(--black2);
}

.filter-products {
	background: #FFFFFF;
	box-shadow: 0 0 1.8rem .6rem rgba(0, 0, 0, 0);
	border-radius: 1.5rem;
	-webkit-border-radius: 1.5rem;
	-moz-border-radius: 1.5rem;
	-ms-border-radius: 1.5rem;
	-o-border-radius: 1.5rem;
	position: relative;
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

.filter-products._active {
	box-shadow: 0 0 1.8rem .6rem rgba(0, 0, 0, 0.09);
}

.filter-products__head {
	background: #FFFFFF;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	display: flex;
	align-items: end;
	padding: 1rem;
	position: relative;
	cursor: pointer;
}

.filter-products__head::after {
	content: "";
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%) rotate(0);
	-webkit-transform: translateY(-50%) rotate(0);
	-moz-transform: translateY(-50%) rotate(0);
	-ms-transform: translateY(-50%) rotate(0);
	-o-transform: translateY(-50%) rotate(0);
	background-image: url(../img/icons/filter-arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	pointer-events: none;
	transition: transform 150ms ease-out;
	-webkit-transition: transform 150ms ease-out;
	-moz-transition: transform 150ms ease-out;
	-ms-transition: transform 150ms ease-out;
	-o-transition: transform 150ms ease-out;
}

.filter-products._active .filter-products__head::after {
	transform: translateY(-50%) rotate(180deg);
	-webkit-transform: translateY(-50%) rotate(180deg);
	-moz-transform: translateY(-50%) rotate(180deg);
	-ms-transform: translateY(-50%) rotate(180deg);
	-o-transform: translateY(-50%) rotate(180deg);
}

.filter-products__head-lines {
	width: 2.4rem;
	position: relative;
	height: 3.3rem;
	margin-right: 1.5rem;
}

.filter-products__head-line {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	height: .3rem;
	background-color: var(--orange);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.filter-products__head-line.line-1 {
	transform: translateY(calc(-50% - 1rem));
	-webkit-transform: translateY(calc(-50% - 1rem));
	-moz-transform: translateY(calc(-50% - 1rem));
	-ms-transform: translateY(calc(-50% - 1rem));
	-o-transform: translateY(calc(-50% - 1rem));
}

.filter-products__head-line.line-2 {
	width: 1.8rem;
}

.filter-products__head-line.line-3 {
	transform: translateY(calc(-50% + 1rem));
	-webkit-transform: translateY(calc(-50% + 1rem));
	-moz-transform: translateY(calc(-50% + 1rem));
	-ms-transform: translateY(calc(-50% + 1rem));
	-o-transform: translateY(calc(-50% + 1rem));
}

.filter-products__placeholder {
	position: absolute;
	top: 50%;
	left: 4.8rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	pointer-events: none;
	font-family: var(--ff-dinPro400);
	font-size: 2.4rem;
	line-height: 100%;
	color: var(--black);
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

.filter-products__head._active .filter-products__placeholder {
	top: .4rem;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	font-family: var(--ff-dinPro300);
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 100%;
	color: var(--grey2);
}

.filter-products__label {
	pointer-events: none;
	opacity: 0;
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transform: translateY(-0.5rem);
	-webkit-transform: translateY(-0.5rem);
	-moz-transform: translateY(-0.5rem);
	-ms-transform: translateY(-0.5rem);
	-o-transform: translateY(-0.5rem);
	white-space: nowrap;
}

.filter-products__head._active .filter-products__label {
	opacity: 1;
}

.filter-products__body {
	position: absolute;
	top: calc(100% - 1rem);
	left: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	height: 0;
	overflow: hidden;
	transition: height 300ms ease-out, box-shadow 150ms ease-out;
	-webkit-transition: height 300ms ease-out, box-shadow 150ms ease-out;
	-moz-transition: height 300ms ease-out, box-shadow 150ms ease-out;
	-ms-transition: height 300ms ease-out, box-shadow 150ms ease-out;
	-o-transition: height 300ms ease-out, box-shadow 150ms ease-out;
	box-shadow: 0 0 1.8rem .6rem rgba(0, 0, 0, 0);
}

.filter-products._active .filter-products__body {
	box-shadow: 0 0.6rem 1.8rem 0 rgb(0 0 0 / 9%);
}

.filter-products__body-content {
	border-top: 0.5px solid var(--grey2);
	padding: 1rem 0 1rem 0;
	margin: 1rem 0.8rem 0;
}

.filter-products__body-content ul {
	margin: 0 0.3rem 0 0.6rem;
}

.filter-products__item._hide {
	display: none;
}

.filter-products__item {
	font-family: var(--ff-dinPro400);
	font-size: 1.8rem;
	line-height: 100%;
	color: var(--black);
	cursor: pointer;
	transition: color 150ms ease-out;
	-webkit-transition: color 150ms ease-out;
	-moz-transition: color 150ms ease-out;
	-ms-transition: color 150ms ease-out;
	-o-transition: color 150ms ease-out;
}

.filter-products__item:hover {
	color: var(--red);
}

@media screen and (min-width: 1024px) {
	.products-page__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 3rem;
	}

	.breadcrumbs-block {
		margin-bottom: 0;
	}

	.breadcrumbs-block__item-icon svg {
		width: 4rem;
		height: 4.3rem;
	}

	.filter-products {
		width: 19.8rem;
	}

	.filter-products__placeholder {
		font-size: 1.8rem;
		line-height: 100%;
		left: 1.4rem;
	}

	.filter-products__head {
		padding: 2rem 3.1rem 1rem 1.4rem;
	}

	.filter-products__head-lines {
		display: none;
	}

	.filter-products__label {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
}

/* ------------------------- breadcrumbs-and-filters END --------------------*/

/* ------------------------- box-products -------------------------- */

.box-products {
	margin-bottom: 6rem;
}

@media screen and (min-width: 1024px) {
	.box-products {
		margin-bottom: 17.4rem;
	}

	.box-products__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 4rem;
		grid-row-gap: 3rem;
	}

	.box-product {
		max-width: 100%;
		margin-right: 0;
	}
}

/* ------------------------- box-products END -------------------------- */


/* ------------------------- PRODUCTS-PAGE END ----------------------- */